<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Title</title>
<style>
label {
	display: inline-block;
	width: 100px;
}

.title-div {
	margin-bottom: 30px;
}
</style>
</head>

<body>

	<div class="title-div">
		<h3>Reservation Read Page</h3>
	</div>

	<div>
		<label>예약번호</label> <input type="text" th:value="${dto.no}" readonly>
	</div>
	<div>
		<label>예약일</label> <input type="text" th:value="${dto.checkInDate}"
			readonly>
	</div>
	<div>
		<label>객실번호</label> <input type="text" th:value="${dto.roomNo}"
			readonly>
	</div>
	<div>
		<label>예약자</label> <input type="text" th:value="${dto.guestName}"
			readonly>
	</div>
	<div>
		<label>예약자 연락처</label> <input type="text"
			th:value="${dto.guestPhone}" readonly>
	</div>
</body>

</html>